@model IEnumerable<OnlineQuiz.Models.Department>

@{
    ViewData["Title"] = "Danh sách khoa";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h2 class="header-title">Danh sách khoa</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="/admin/trang-chu" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item active">Danh sách khoa</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="card-title">
            <h4 class="card-title">Danh sách khoa</h4>
            <a href="/admin/khoa/tao-moi" class="btn btn-primary">
                <i class="anticon anticon-plus-circle"></i> Thêm
            </a>
        </div>
    </div>
    <div class="card-body">
        <table id="d_table" class="table">
            <thead>
                <tr>
                    <th>Tên khoa</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @{int i = 0;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.DepartmentName</td>
                        <td>
                            <form asp-area="Admin" asp-controller="Departments" asp-action="Delete" asp-route-Id="@item.DepartmentId" method="post" class="submitDelete_@i">
                                <a href="/admin/khoa/chinh-sua/@item.DepartmentId" class="btn btn-warning">
                                    <i class="anticon anticon-edit"></i>
                                </a>
                                <a href="/admin/lop/hien-thi-theo-khoa/@item.DepartmentId" class="btn btn-info">
                                    <i class="anticon anticon-profile"></i>
                                </a>
                                <button type="button" class="btn btn-danger submitbtn"><i class="anticon anticon-delete"></i></button>
                            </form>
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Tên khoa</th>
                    <th>#</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#d_table').DataTable();
        });

        btn = document.getElementsByClassName("submitbtn");
        for (let i = 0; i < @ViewBag.Count; i++) {
            btn[i].addEventListener("click", function () {
                onConfirm(i);
            });
        }

        function onConfirm(number) {
            Swal.fire({
                title: 'Xóa khoa này ?',
                text: "Chú ý : Hành động này không thể phục hồi",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Đồng ý',
                cancelButtonText: 'Từ chối',
            }).then((result) => {
                if (result.isConfirmed) {
                    var query = ".submitDelete_" + number;
                    document.querySelector(query).submit();
                }
            })
        };
    </script>
}