@model OnlineQuiz.Models.Student

@{
    ViewData["Title"] = "Chỉnh sửa thông tin sinh viên";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2 class="header-title">Chỉnh sửa thông tin sinh viên</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="/admin/trang-chu" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a href="/admin/hoc-sinh" class="breadcrumb-item">Danh sách sinh viên</a>
            <span class="breadcrumb-item active">Chỉnh sửa thông tin</span>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Chỉnh sửa thông tin sinh viên</h4>
    </div>
    <div class="card-body">
        <form asp-area="Admin" asp-controller="Students" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudentId" />
            <div class="form-group row">
                <label asp-for="FullName" class="col-sm-2 col-form-label">Tên sinh viên</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="FullName" placeholder="Tên sinh viên">
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Birthday" class="col-sm-2 col-form-label">Ngày sinh</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" asp-for="Birthday" placeholder="Ngày sinh">
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Gender" class="col-sm-2 col-form-label">Ngày sinh</label>
                <div class="col-sm-10">
                    <select class="form-control" asp-for="Gender" asp-items="@ViewBag.Gender">
                        <option selected disabled>Chọn giới tính</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Address" class="col-sm-2 col-form-label">Địa chỉ</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="Address" placeholder="Địa chỉ">
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="PhoneNumber" class="col-sm-2 col-form-label">Số điện thoại</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="Số điện thoại">
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ClassId" class="col-sm-2 col-form-label">Thuộc lớp</label>
                <div class="col-sm-10">
                    <select class="form-control select2" asp-for="ClassId" asp-items="@ViewBag.Class">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Lưu</button>
                    <a href="/admin/hoc-sinh" class="btn btn-info">Trở về danh sách</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('.select2').select2();
    </script>
}

