@model IEnumerable<AppUser>
@{
    ViewData["Title"] = "Danh sách tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2 class="header-title">Danh sách tài khoản</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="/admin/trang-chu" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item active">Danh sách tài khoản</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="card-title">
            <h4 class="card-title">Danh sách tài khoản</h4>
        </div>
    </div>
    <div class="card-body">
        <table id="d_table" class="table">
            <thead>
                <tr>
                    <td>Mã TK</td>
                    <td>Tên tài khoản</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>@item.UserName</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>Mã TK</td>
                    <td>Tên tài khoản</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#d_table").dataTable();
        });
    </script>
}